.photo-grid {
  display: grid;
  min-height: 671px;
  max-width: 1184px;
  align-self: center;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    max-width: calc((100% - 48px*2));
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: calc((100% - 24px*2));
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: calc((100% - 16px*2));
    min-width: auto;
  }
}