.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
  }
}